body {
    background-image: url(TnQi.gif);
    background-repeat: no-repeat;
    background-size: 100%
}
.title{
    color: white;
    text-shadow: black;
    background-color: chartreuse;
    border-radius: 50px;
    border:none;
    width: 100px;
    height: 40px;
    text-align: center;
    padding: 10px;

}
.paragrafo {
    color: gold;

}